body {
    text-align: center;
}

.required {
    color: #CC0000;
    font-size: 14px;
}

.page_title {
    color: #136FFF;
    font-size: 20px;
    margin-bottom: 10px;
}

.form {
    margin: 10px;
    display: inline-block;
}

input[type="text"] {
    width: 300px;
}

.result {
    margin: 20px;
    resize: none;
}

input.kousu {
    width: 40px;
}
